.crime-trends-chart-container {
    width: 100%;
    max-width: 800px;
    /* Set the maximum width of the chart */
    height: 400px;
    /* Fixed height */
    margin: 20px auto;
    /* Center the chart within the container and set spacing with other elements */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Center the title */
}

.crime-trends-chart-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.recharts-wrapper {
    width: 100% !important;
    height: 100% !important;
}
