.filter-container {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;
}

.date-filter-section,
.crime-type-section,
.crime-zone-section {
    flex: 1;
}